<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @guest.name %>
</p>

<p>
  <strong>Примечание:</strong>
  <%= @guest.message %>
</p>

<%= link_to 'Редактировать', edit_guest_path(@guest) %> |
<%= link_to 'Назад', guests_path %>
