<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category %>
</p>

<p>
  <strong>Announce:</strong>
  <%= @book.announce %>
</p>

<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<p>
  <strong>Published:</strong>
  <%= @book.published %>
</p>

<%= link_to 'Edit', edit_post_path(@book) %> |
<%= link_to 'Back', posts_path %>
