<%= form_with(model: phone, local: true) do |form| %>
  <% if phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phone.errors.count, "error") %> prohibited this phone from being saved:</h2>

      <ul>
      <% phone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vendor %>
    <%= form.text_field :vendor, id: :phone_vendor %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :phone_model %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.number_field :version, id: :phone_version %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :phone_price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :phone_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
